
(3)Nmber Guess Game!.py
(3)pig latin.py
(3)some thing im doing idk.py
.idea/misc.xml
.idea/modules.xml
*.iml
*.xml
JetBrains PyCharm Community Edition 2017.1.3 x64.lnk
Python Coding Help.txt
Scripts With Python/untitled/gu.py
Testing.py
